# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGliZXJhbC1yZWluZGVlci05Ni5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_QBMePxAwb56FEhhnYBcz7LhX7DQUjKY60L26lf5ZFf

# ImageKit
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_APqdvA8+Cq8yT4MHpzCygUC5sD4=
IMAGEKIT_PRIVATE_KEY= private_v3sC8nygfWKXxoNq3rUQ/1qh5Uw=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/hj3kzyjvr


# Clerk URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Fallback URLs
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# App URLs
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database - Neon PostgreSQL
DATABASE_URL=postgresql://storio_db_owner:npg_LVQh75bctFOz@ep-purple-poetry-a46m28la-pooler.us-east-1.aws.neon.tech/storio_db?sslmode=require